language: node_js
node_js:
  - "8"

sudo: false

branches:
  only:
  - master
  - development

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH="$HOME/.yarn/bin:$PATH"

install:
  - yarn

script:
  - yarn -v
  - yarn test

env:
  global:
  - NODE_ENV=production

cache:
  yarn: true
  directories:
    - ".eslintcache"
    - "node_modules"

notifications:
  email: false
  slack: smartfrog:wTTaFTzyp3xFG2Yw03Gnts6A
