language: node_js
node_js:
  - "8"

branches:
  only:
  - master
  - development

install:
  - yarn

script:
  - npx jest

env:
  global:
  - NODE_ENV=production

notifications:
  email: false
  slack: smartfrog:wTTaFTzyp3xFG2Yw03Gnts6A
